<div class="container">
  <div class="row">
        <div class="col s10 m8 l8">
            <h6>{{titulo}}</h6>
        </div>
    </div>
  <div class="row">
    <div class="col l4">
        <label for="nome">Nome:</label>
        <input id="nome" type="text"  maxlength="40" placeholder="Digite seu nome"  [(ngModel)]="pessoa.nome" class="validate" >
    </div>
    <div class="col l4">
        <label for="cpf">CPF:</label>
        <input id="cpf" maxlength="11" placeholder="Digite seu cpf"  [(ngModel)]="pessoa.cpf" type="text" class="validate">
    </div>
  </div>
  <div class="row">
      <div class="col l4">
          <label for="email">Email</label>
          <input id="email"  maxlength="50" placeholder="Digite seu e-mail"  [(ngModel)]="pessoa.email" type="email">
      </div>
      <div class="col l4">
          <label for="data">Data de nascimento:</label>
          <input id="data" [(ngModel)]="pessoa.dataNascimento" min="2018-01-01" max="1979-12-31"  type="date" class="datepicker" required=true>
      </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col l2">
            <label for="ddd">DDD:</label>
            <input id="ddd" [(ngModel)]="telefone.ddd"  maxlength="2"  type="text" required=true>
    </div>
    <div class="col l4">
            <label for="numero">Telefone:</label>
            <input id="numero" [(ngModel)]="telefone.numero"  maxlength="9" type="text" required=true>
    </div>
    <div class="col l3">
        <button class="btn waves-effect waves-light btn-small
          waves-purple blue" [disabled]="verificaIntegridadeTelefone()"
           type="submit" (click)="salvarNaLista()">Adicionar</button>   
  </div>
  <div class="row" style="margin-top: 40px;">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>DDD</th>
            <th>Telefone</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody *ngIf="telefones.length != 0">
          <tr *ngFor="let telefone of telefones; let i = index;">
            <td>{{telefone.id}}</td>
            <td>{{telefone.ddd}}</td>
            <td>{{telefone.numero}}</td>
            <td (click)="deletarDaLista(i)"><a>Deletar</a></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="row">
      <div class="col l3" style="margin-top: 50px;" *ngIf="btn == false">
            <button class="btn waves-effect waves-light btn-small 
            waves-purple blue" type="submit" (click)="cadastrar()" 
            [disabled]="verificaIntegridadePessoa()"
            >Cadastrar</button>       
      </div>
  </div>
  <div class="row">
       <div class="col l3" style="margin-top: 50px;" *ngIf="btn == true">
            <button class="btn waves-effect waves-light btn-small 
            waves-purple blue" type="submit" (click)="atualizar()" 
            [disabled]="verificaIntegridadePessoa()">Editar</button>
    </div>
  </div>
</div>